*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #292929;
}

header span:first-of-type, nav span:first-of-type {
  color: #039dff;
}

header span:last-of-type, nav span:last-of-type {
  color: #FFA500;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 5px;
  background-color: #FFA500;
}

.scroll-fix::before {
  display: block;
  margin-top: -87px;
  height: 87px;
  content: '';
}

.visibility {
  visibility: hidden;
}

.jumbotron-fluid {
  margin-bottom: 0;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

nav a, nav i {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav a:hover {
  color: #039dff;
}

nav i {
  padding: 10px;
  font-size: 25px;
}

nav .navbar-brand {
  font-weight: bold;
  text-transform: initial;
}

nav .navbar-brand p {
  color: #fff;
}

nav .active {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  color: #ffffff;
  overflow: hidden;
}

header h1 {
  font-size: 32px;
}

header span {
  color: #039dff;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/hero-img.jpg");
  background-attachment: fixed;
}

header .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .hero-text p {
  font-size: 13px;
}

header .hero-bg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-arrow-down {
  display: none;
}

#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  text-transform: uppercase;
  font-size: 18px;
}

#aboutus p {
  font-size: 14px;
}

#aboutus .aboutus-hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#aboutus .aboutus-hover:hover {
  color: #039dff;
}

#aboutus .platform-games {
  position: relative;
  color: #ddd;
  background-image: url("../img/digitalisation-img.jpg");
  background-position: center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}

#aboutus .platform-games h2 {
  text-transform: uppercase;
}

#aboutus .platform-games h3 {
  font-size: 23px;
  text-transform: initial;
}

#aboutus .platform-games i {
  margin: 0;
}

#aboutus .platform-games .hero-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

#aboutus .platform-games .platform-games-item {
  margin: 15px 0;
}

#portfolio h2 {
  text-transform: uppercase;
}

#portfolio .carousel-item {
  position: relative;
  height: 500px;
}

#portfolio .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

#portfolio .carousel-indicators {
  padding-bottom: 20px;
}

#prices h2 {
  text-transform: uppercase;
}

#prices .prices {
  background-color: #f1efef;
}

#prices h4 {
  text-transform: uppercase;
  color: #039dff;
}

#prices .card {
  margin: 20px 10px;
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#prices .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#prices .card-text {
  font-weight: bold;
  text-align: center;
}

#prices .card-text span {
  font-weight: lighter;
}

#prices .card-text i {
  margin-right: 5px;
}

#prices .btn {
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#prices .btn:hover {
  background-color: #039dff;
}

#prices .btn-middle {
  background-color: #FFA500;
}

#prices .packages-small-note {
  margin-top: 25px;
  font-size: 13px;
}

#prices .packages-small-note span {
  text-transform: uppercase;
  font-weight: bold;
}

#team .team-bg {
  position: relative;
  background-image: url("../img/conference-table-593355_1280.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 10;
}

#team .team-bg h2 {
  color: #ddd;
  text-transform: uppercase;
}

#team .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

#team .card {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#team .card h5 {
  font-weight: bold;
  text-transform: uppercase;
}

#team .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#team .card .row {
  margin-left: 0;
  margin-right: 0;
}

#team .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#team .card-body {
  height: 150px;
}

#team .card-text {
  font-size: 14px;
}

#achievements h2, #achievements p {
  text-transform: uppercase;
}

#achievements .achievements-item {
  margin-bottom: 25px;
}

#achievements .achievements-item i {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}

#achievements .achievements-text {
  font-size: 13px;
}

#contact h2, #contact h4 {
  text-transform: uppercase;
}

#contact .contact-item {
  text-align: center;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 38px;
  }
  header .hero-text p {
    font-size: 16px;
  }
  #team .card-body {
    height: 120px;
  }
  #team .card-text {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */