*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: rgb(41, 41, 41)
        
header, nav 
    span:first-of-type
        color: #039dff

    span:last-of-type
        color: #FFA500

// NAVIGATION   
nav
    text-transform: uppercase
    transition: background-color 0.5s

    a, i
        color: #fff
        transition: color 0.3s 

    a:hover 
        color: #039dff

    i
        padding: 10px
        font-size: 25px

    .navbar-brand
        font-weight: bold
        text-transform: initial

        p
            color: #fff
    
    .active
        color: #039dff
    
.shadow-bg
    background-color: rgba(0, 0, 0, 0.8)

// HEADER
header
    color: #ffffff

    h1
        font-size: 32px

    span
        color: #039dff

    .hero-img
        position: relative
        height: 100vh
        background-repeat: no-repeat
        background-size: cover
        background-position: 50% 50%
        background-image: url('../img/hero-img.jpg')
        background-attachment: fixed
    
    .hero-text 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        
        p
            font-size: 13px

    .hero-bg
        height: 100vh
        width: 100vw
        background-color: rgba(0, 0, 0, 0.6)
    
    .btn-outline-light
        text-transform: uppercase

    .fa-arrow-down
        display: none

@media (min-width: 375px)
    header
        h1 
            font-size: 38px

        .hero-text
            p
                font-size: 16px
