*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #333

// NAVIGATION   
nav
    text-transform: uppercase

    a, i
        color: #fff
        transition: color 0.3s 

    a:hover 
        color: #039dff

    i
        padding: 10px

    .navbar-brand
        font-weight: bold
        text-transform: initial

    .active
        color: #039dff
